// Container
// -----------------------------------------------------------------------------
$min-width: 320px;
$max-width: 1240px;
$full-height: calc(var(--vh, 1vh) * 100);

// -----------------------------------------------------------------------------
// Breakpoint
// -----------------------------------------------------------------------------
$breakpoint-mobile-small: 320px !default;
$breakpoint-mobile: 360px !default;
$breakpoint-tablet: 720px !default;
$breakpoint-desktop: 1280px !default;

// -----------------------------------------------------------------------------
// Color
// -----------------------------------------------------------------------------
$background-color: #fff !default;
$selection-color: transparent !default;



// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$base-font-size: 16px !default;
$base-font-system: Pretendard,
  Noto Sans KR,
  Noto Sans,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Apple SD Gothic Neo",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Malgun Gothic",
  "맑은 고딕",
  Dotum,
  "돋움",
  sans-serif !default;