.#{$app-name} {

  * {
    font-family: $base-font-system;
  }

  position: relative;
  margin: 0 auto;
  min-width: $min-width;


  .swiper-pagination {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 47px;

    .swiper-pagination-bullet-active {
      background-color: #987440 !important;
    }

    .swiper-pagination-bullet {
      transition: all 0.4s;
      opacity: 1;
      width: 23px;
      height: 8px;
      border-radius: 100px;
      background-color: #d4c7b5;
    }
  }

  .app-section {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff; // 이미지 로딩 전 깜빡임 방지
    z-index: 2;
  }

  .app-inner {
    max-width: $max-width;
    padding: 0 20px;
    position: relative;
    margin: auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .row {
    display: flex;

  }

  .basic-title {
    font-family: 'SeongdongMyoungjo';
    font-weight: 400;
    font-size: clamp(2.6rem, 5vw, 5.7rem);
    line-height: clamp(34px, 6vw, 73px);
    color: #033e45;
    text-align: center;

    em {
      font-family: 'SeongdongMyoungjo';
      font-weight: 400;
      color: #15747f;
    }
  }

  .btn {
    display: block;
    width: clamp(300px, 40vw, 575px);
    position: relative;
    transition: all .3s;

    &:hover {
      transform: scale(1.06);

      &:after {
        transform: scale(1.07);
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: clamp(97px, 15vw, 187px);
      height: clamp(110px, 15vw, 218px);
      background-image: url(images/ico-btnBear.png);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      transition: all .3s;
    }

    img {
      width: 100%;
    }
  }

  @include screen("mobile") {
    .btn {
      &:after {
        left: -13px;
      }

    }
  }

  // .btn {
  //   position: relative;
  //   width: 560px;
  //   height: 140px;

  //   span {
  //     display: block;
  //     width: 548px;
  //     height: 114px;
  //     background-image: url(images/btn-emboss.png);
  //     background-size: cover;
  //     background-position: top center;
  //     background-repeat: no-repeat;
  //     position: absolute;
  //     border-radius: 1000px;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     top: 0;
  //     margin: auto;
  //     z-index: 2;
  //   }

  //   &:after {
  //     content: '';
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 1000px;
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     top: 0;
  //     margin: auto;
  //     background-color: red;

  //   }
  // }
}