.#{$app-name} {

  * {
    font-family: $base-font-system;

  }

  position: relative;
  margin: 0 auto;
  min-width: $min-width;
  color: #000;

  .swiper-pagination {
    display: flex;
    align-items: center;
    position: static;

    &.bk {

      .swiper-button-prev,
      .swiper-button-next {

        &::after {
          background-image: url('/images/slide-arrows-bk.png');
          background-size: contain;
        }
      }

      .pagination-inner {
        color: #222;
      }

    }

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      width: 10px;
      height: 20px;
      margin: 0;
      background: none;
      border: none;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 20px;
        background-image: url('/images/slide-arrows.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .swiper-button-prev {
      &::after {
        transform: rotate(180deg);
      }
    }

    .pagination-inner {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 1.6rem;
      color: #fff;
      font-weight: 500;
      margin: 0 20px;
    }
  }





  .app-section {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
  }

  .app-inner {
    max-width: $max-width;
    padding: 0 20px;
    position: relative;
    margin: auto;

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .row {
    display: flex;

  }

  .headline {
    h2 {
      font-size: clamp(2.5rem, 3vw, 3.5rem);
      line-height: 1;
      font-weight: 600;
    }

    h3 {
      font-size: clamp(2.1rem, 3vw, 2.5rem);
      line-height: 1;
      font-weight: 600;
    }

    span {
      display: block;
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 400;
      color: #555;
      margin-top: clamp(15px, 1.5vw, 25px);
    }
  }

  .btn {
    display: block;
    width: 194px;
    position: relative;
    transition: all .3s;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 27px;
    padding: 12px 26px;
    border: 1px solid #000;


    &:hover {
      transform: scale(1.06);

      &:after {
        right: 20px;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 26px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: 11px;
      background-image: url(images/btn-arrows.png);
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      transition: all .3s;
    }

    &.white {
      border-color: #fff;
      color: #fff;

      &:after {
        background-image: url(images/btn-arrows-white.png);
      }
    }
  }

  @include screen("mobile") {}

}

@media (max-width: 1440px) {
  .#{$app-name} {
    .app-inner {
      max-width: 1024px !important;
    }
  }

  .ocs-shop .section2 .row {
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .#{$app-name} {
    .app-inner {
      max-width: 960px !important;
    }
  }
}