@charset "UTF-8";


$app-name: "ocs-shop" !default;
@import "@repo/styles/abstracts/variables";
@import "@repo/styles/abstracts/functions";
@import "@repo/styles/abstracts/mixins";
@import "@repo/styles/reset";

@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/font";

@import "base/base";
@import "base/helpers";
@import "base/animations";

@import "app";

@import "contents/floating";
@import "contents/section1";
@import "contents/section2";
@import "contents/section3";
@import "contents/section4";
@import "contents/section5";
@import "contents/section6";
@import "contents/section7";
@import "contents/section8";
@import "contents/section9";
@import "contents/section10";
@import "contents/section11";


@import "app_responsive";