.#{$app-name} {
  .section9 {
    background-image: url(images/sec09-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 120px;

    .app-inner {
      text-align: center;

      .btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: clamp(40px, 20vw, 70px);
      }
    }

    h3 {
      text-align: center;
      color: #111111;
      font-weight: bold;
      line-height: 1.2;
      font-size: clamp(2.8rem, 5vw, 6.5rem)
    }


    @include screen("mobile") {
      padding-top: 5%;
      padding-bottom: 15%;

      .app-inner {
        text-align: center;
        padding: 0;

        .btn {
          margin-top: 0;
        }
      }
    }
  }
}