.#{$app-name} {
  .section7 {
    background-image: url(images/sec07-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 130px;
    padding-bottom: 130px;

    h3 {
      margin-bottom: clamp(64px, 20vw, 160px);
    }

    .swiper-container-wrapper {
      width: 100%;

      .swiperSec07 {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 16px;
        border: 4px solid #fff;

        .swiper-wrapper {
          display: flex;
          align-items: center;
        }

        .swiper-slide {
          width: 100%;
          height: auto;

          .inner {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: auto;
              display: block;
              object-fit: cover;
            }
          }
        }
      }

      .swiper-thumbnails {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;

        .thumbnail-arrow {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          // opacity: 0.6;
          transition: opacity 0.3s ease;
          flex-shrink: 0;

          img {
            width: 100%;
            height: auto;
            display: block;
          }

          &:hover {
            opacity: 1;
          }

          &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
          }

          &.thumbnail-prev {
            transform: rotate(180deg);
          }
        }

        .thumbnail-list {
          display: flex;
          gap: 10px;
          flex: 1;
          justify-content: center;
        }

        .thumbnail-item {
          width: calc(25% - 20px);
          cursor: pointer;
          transition: opacity 0.3s ease;
          border: 4px solid transparent;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
          }

          &:hover {
            opacity: 0.8;
          }

          &.active {
            opacity: 1;
            border-color: #fff;
          }
        }
      }
    }

    .app-inner {
      max-width: 1300px;
    }



    .row {
      align-items: center;

      .column {
        &.image {
          position: relative;
          width: clamp(360px, 40vw, 600px);




        }

        &.info {
          flex: 1;




          .paper {
            padding-top: 90px;
            display: flex;
            justify-content: center;
            color: #3d4b63;
            background-image: url(images/paper.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            height: 590px;
            left: 20px;

            .bear {
              width: clamp(240px, 25vw, 484px);
              position: absolute;
              bottom: calc(100% - 50px);

            }

            p {
              display: flex;
              flex-direction: column;
              gap: clamp(10px, 2vw, 24px);

              small {
                font-family: 'MangoBoardTtobaks';
                font-weight: 400;
                font-size: clamp(1.6rem, 2vw, 2.3rem);
                line-height: clamp(27px, 3vw, 36px);
              }

              b {
                color: #1e2a3e;
                font-family: 'MangoBoardTtobaks';
                font-size: clamp(2rem, 2vw, 3rem);
                line-height: clamp(34px, 3vw, 51px);

                em {
                  font-family: 'MangoBoardTtobaks';
                  color: #15747f;
                }
              }


            }
          }
        }
      }
    }

    @include screen("mobile") {
      padding-top: 0%;
      padding-bottom: 15%;

      .swiper-container-wrapper {
        width: 100%;

        .swiperSec07 {
          border: none;

          .swiper-slide {
            .inner {
              img {
                width: 100%;
              }
            }
          }
        }

        .swiper-thumbnails {
          padding: 0 30px;
          max-width: 400px;
          margin: auto;

          .thumbnail-arrow {
            width: 11px;
            height: 23px;
          }

          .thumbnail-list {
            gap: 8px;
          }

          .thumbnail-item {
            border-width: 2px;
            width: 55px;
          }
        }


      }

      .app-inner {
        max-width: 100%;
        padding: 0;
      }



      .row {
        display: block;


        .column {


          &.image {
            width: 100%;
            margin-top: 46px;
          }

          &.info {
            margin-top: 110px;
            padding: 0 10px;

            .paper {
              padding-top: 50px;
              background-image: url(images/paper-mo.png);
              background-position: center center;
              position: relative;
              height: auto;
              width: 100%;
              left: 0;
              padding-left: 20px;
              padding-right: 20px;

              .bear {
                bottom: calc(100% - 30px);
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 1024px) {}