.#{$app-name} {
  .section3 {
    background-image: url(images/sec03-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 190px;
    padding-bottom: 390px;

    .deco {
      position: absolute;

      margin: auto;

      &.pen {
        left: 0;
        top: 80px;
        // width: clamp(300px, 8vw, 460px);
      }



      &.paper {
        left: 0;
        bottom: 0;
      }

      &.shadow {
        top: 0;
        left: 0;
      }
    }

    .row {
      transition: top 0.3s ease;

      .column {
        &:first-child {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: start;
          padding-left: clamp(0px, 1vw, 104px);


          .shorts {
            // overflow: hidden;
            position: relative;
            width: clamp(274px, 30vw, 394px);
            aspect-ratio: 394 / 700;
            height: auto;
            z-index: 2;

            iframe {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              border: none;
              z-index: 2;
            }

            .letter {
              position: absolute;
              min-width: clamp(300px, 50vw, 782px);
              left: -40%;
              top: 14%;
            }
          }
        }

        &:last-child {
          flex: 1;
          justify-content: end;
          display: flex;

          .letter-slider {
            position: relative;
            left: clamp(0px, 1vw, 100px);
            display: flex;
            justify-content: center;
            width: clamp(400px, 48vw, 689px);
            aspect-ratio: 689 / 972;
            height: auto;
            padding-top: clamp(10px, 1vw, 140px);
            background-image: url(images/sec03-card.jpg);
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
            padding-left: 40px;
            padding-right: 40px;

            .pen02 {
              right: -17%;
              top: 60%;
              z-index: 2;
              width: clamp(100px, 10vw, 394px);
            }

            .swiper-pagination {
              margin-left: 20px;
              position: static;
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 24px;
              margin-bottom: 30px;

              .swiper-button-prev,
              .swiper-button-next {
                position: relative;
                width: 6px;
                height: 12px;
                margin: 0;
                background: none;
                border: none;
                cursor: pointer;
                opacity: 0.7;
                transition: opacity 0.3s ease;

                &:hover {
                  opacity: 1;
                }

                &::after {
                  content: '';
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-image: url('/images/sec03-arrow.png');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }

              .swiper-button-prev {
                &::after {
                  transform: rotate(180deg);
                }
              }

              .pagination-inner {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 2.2rem;
                color: #333333;
                font-weight: 300;
              }
            }
          }

          .swiperSec03 {
            position: relative;
            overflow: hidden;
            width: 500px;
            // height: 560px;

            .swiper-wrapper {
              display: flex;
              align-items: center;

              p {
                font-family: 'MangoBoardTtobaks';
                font-size: clamp(1.4rem, 1.8vw, 2.3rem);
                font-weight: 400;
                line-height: clamp(24px, 3vw, 40px);
                color: #333333;
                padding: 14px;
              }
            }

            // fade 효과를 위한 스타일
            .swiper-slide {
              opacity: 0 !important;
              transition: opacity 1s ease-in-out;

              &.swiper-slide-active {
                opacity: 1 !important;
              }
            }
          }
        }
      }
    }

    .letter-list {
      margin-top: -10%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      img {
        width: 100%;
        max-width: 320px;
      }
    }








    @include screen("mobile") {
      padding-top: 20px;
      padding-bottom: 360px;
      overflow: visible;



      .deco {
        &.pen {
          display: none;
        }

        &.paper {
          width: 200px !important;
          bottom: 10%;
        }
      }

      .row {
        display: block;
        position: sticky;
        top: 0;

        .column {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 0;


            .shorts {
              // width: clamp(320px, 80vw, 500px);
              // height: clamp(320px, 80vw, 500px);
              width: 321px;
              height: 321px;
              aspect-ratio: unset;

              .letter {
                top: 24% !important;
              }
            }
          }


        }
      }

    }
  }
}

@include screen("mobile") {
  .scroll_up {
    .#{$app-name} {
      .section3 {
        .row {
          top: 52px;

        }
      }
    }

  }
}

@media (max-width: 1600px) {
  .girlsCeleb .section3 .row .column:last-child {
    justify-content: center;
  }

  .girlsCeleb .section3 .deco.pen {
    width: 300px;
  }

  .girlsCeleb .section3 .deco.paper {
    width: 600px;
  }

  .girlsCeleb .section3 .row .column:first-child .shorts .letter {
    top: 24%;
  }
}

@media (max-width: 1280px) {
  .girlsCeleb .section3 .row .column:first-child .shorts .letter {
    top: 30%;
  }
}

@media (max-width: 1024px) {
  .girlsCeleb .section3 .row .column:first-child .shorts .letter {
    top: 40%;
  }
}