.#{$app-name} {
  .section7 {
    padding-top: 78px;
    padding-bottom: 96px;
    background-color: #FCF9F4;

    article {
      &+article {
        border-top: 1px solid #DDD;
        margin-top: 55px;
        padding-top: 55px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: clamp(30px, 3vw, 104px);
        ;

        .command {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: space-between;
        }

        .headline {
          margin-top: 30px;
        }
      }
    }

    .app-inner {
      max-width: 1240px;
    }

    .headline {
      margin-bottom: clamp(20px, 3vw, 40px);
    }

    .row {
      align-items: start;
      justify-content: space-between;
      gap: 30px;

      .column {
        a {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        .num {
          font-size: clamp(1.4rem, 3vw, 1.6rem);
          font-weight: 800;
          line-height: clamp(20px, 3vw, 35px);
        }

        .desc {
          font-size: clamp(1.6rem, 3vw, 1.9rem);
          font-weight: 700;
          line-height: clamp(25px, 3vw, 29px);
        }
      }


    }

    .swiper-buttons {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .swiper-button-next,
      .swiper-button-prev {
        position: static;
        width: 24px;
        height: 24px;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
        }

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: url('/images/slide-arrows-big.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .swiper-button-prev {

        &::after {
          transform: rotate(180deg);
        }
      }


    }

    .swiper {
      width: clamp(500px, 70vw, 732px);
      overflow: hidden;
      height: 440px;
      position: relative;
      margin-top: -25px;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #FCF9F4;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

      }

      .swiper-wrapper {
        display: flex;
        flex-direction: column;
      }

      .swiper-slide {
        padding-top: 25px;

        &+.swiper-slide {

          border-top: 1px solid #ddd;

          .inner {}
        }

        .inner {
          display: flex;
          align-items: center;
          gap: 30px;



          .img {
            flex: none;
            width: 180px;
            height: 180px;

          }

          .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 11px;

            p {
              color: #555;
              font-weight: 400;
              font-size: clamp(1.4rem, 1.8vw, 1.7rem);
              line-height: clamp(23px, 3vw, 30px);
            }

            .name {
              font-weight: 400;
              font-size: clamp(1.2rem, 1.8vw, 1.6rem);
              line-height: clamp(20px, 3vw, 30px);
            }
          }


        }
      }
    }

    @include screen("mobile") {

      article {
        &+article {
          border: none;
          display: block;
          padding: 0 20px;

          .command {
            margin-bottom: 30px;
          }

          .headline {
            margin-top: 0;
            padding: 0;
            margin-bottom: 0;

          }
        }
      }

      .headline {
        padding: 0 20px;
      }

      .app-inner {
        max-width: 100%;
        padding: 0;
      }


      .row {
        flex-direction: column;
        gap: 40px;

        .column {

          &.column01 {
            width: 100%;

            .desc {
              text-align: center;
            }

            .num {
              padding-left: 20px;
            }
          }

          &.column02 {
            padding-left: 20px;

            img {
              max-width: 282px;
            }
          }

          &.column03 {
            width: 100%;

            a {
              display: flex;
              padding-right: 20px;
              align-items: end;
            }

            .desc,
            .num {
              width: 275px;
              padding: 0;
            }

            img {
              max-width: 275px;
            }
          }
        }
      }

      .swiper-buttons {
        flex-direction: row;
        gap: 24px;

        .swiper-button-next,
        .swiper-button-prev {
          width: 20px;
          height: 20px;
        }

        .swiper-button-prev {

          &::after {
            transform: rotate(180deg);
          }
        }


      }

      .swiper {
        height: 264px;
        width: 100%;

        .swiper-slide {
          .inner {
            gap: 14px;

            .img {
              width: 94px;
              height: 94px;
            }

            .info {
              gap: 3px;

              .name {
                font-weight: 600;
              }
            }


          }
        }
      }
    }
  }
}