.#{$app-name} {
  .section9 {
    background-color: #FCF9F4;
    padding-top: 80px;
    padding-bottom: 40px;

    .app-inner {
      max-width: 730px;
    }

    .headline {
      h3 {
        line-height: clamp(28px, 3vw, 33px);
        font-weight: 700;
      }
    }

    .banner-cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .caption {
      display: block;
      color: #84765D;
      font-size: clamp(1.4rem, 3vw, 1.6rem);
      font-weight: 400;
      line-height: 23px;
      margin-top: clamp(70px, 3vw, 80px);
      text-align: center;

    }



    @include screen("mobile") {
      padding-top: 15%;
      padding-bottom: 10%;

      .app-inner {
        max-width: 100%;
        padding: 0 30px;
      }



      .banner-cont {
        flex-direction: column;
        gap: 20px;
        align-items: start;
      }

      .caption {
        color: #555;
        font-size: 1.2rem;

      }
    }
  }
}