.#{$app-name} {
  .section6 {
    background-color: #F4F0E9;
    padding-top: 50px;
    padding-bottom: 82px;

    .headline {
      margin-bottom: 20px;
    }

    .swiper {
      margin-top: 20px;



      .swiper-slide {
        &.close {
          a {
            .cont {
              .sideimg {
                img {
                  opacity: 0.5;
                }
              }

              .info {
                .name {
                  color: #999999;

                  &:before {
                    display: inline-block;
                    width: 51px;
                    text-align: center;
                    background-color: #84765D;
                    content: '종료';
                    color: #FFF;
                    font-family: Pretendard;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    margin-right: 7px;
                  }
                }

                .price {
                  color: #999999;
                }


              }
            }
          }
        }

        a {
          display: block;
          width: 100%;
          height: 100%;

          .img {
            img {
              width: 100%;
            }
          }

          .cont {
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 15px;

            .sideimg {
              width: 63px;
              height: 63px;
              background-color: #FFFCF7;
              padding: 12px;
              flex: none;

              img {
                width: 100%;
              }
            }

            .info {
              flex: 1;
              min-width: 0;

              .name {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .price {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 26px;

                b {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }

    .caption {
      display: block;
      color: #555;
      font-size: clamp(1.4rem, 3vw, 1.6rem);
      font-weight: 400;
      line-height: 23px;
      margin-top: clamp(38px, 3vw, 50px);
      text-align: center;

    }

    @include screen("mobile") {


      .swiper {

        overflow: inherit;
        width: 100%;

        .swiper-slide {
          max-width: 328px;
        }
      }

    }
  }
}