.#{$app-name} {
  .section5 {
    .row {
      height: 100%;

      .column {
        flex: 1;
        width: 55%;

        img {
          object-fit: fill;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          object-position: center;
        }

        .swiper {
          width: 100%;
          overflow: hidden;

          // fade 효과를 위한 스타일
          .swiper-wrapper {
            // position: relative;
          }

          .swiper-slide {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            &.swiper-slide-active {
              opacity: 1;
            }
          }

          .swiper-pagination {
            position: absolute;
            width: $max-width;
            bottom: 50px;
            left: 0;
            right: 0;
            margin: auto;
          }
        }

        &.fix-img {
          flex: none;
          width: 45%;
          background-image: url(images/sec05-bg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;

          p {
            color: #FFF;
            font-size: clamp(2rem, 3vw, 4rem);
            font-weight: 600;
            line-height: clamp(30px, 3vw, 55px);
            position: absolute;
            left: clamp(22px, 3vw, 66px);
            bottom: clamp(35px, 3vw, 50px);
          }
        }
      }
    }




    @include screen("mobile") {

      .row {
        display: block;

        .column {
          width: 100%;
          position: relative;

          .swiper {
            .swiper-pagination {
              bottom: 30px;
              left: 20px;
            }
          }

          &.fix-img {
            flex: none;
            width: 100%;
            background: none;
          }
        }
      }
    }
  }
}