.#{$app-name} {
  .section1 {
    width: 100%;

    .row {
      height: 100%;

      .column {
        flex: 1;
        width: 70%;

        img {
          object-fit: fill;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          object-position: center;
        }

        .swiper {
          width: 100%;
          overflow: hidden;

          // fade 효과를 위한 스타일
          .swiper-wrapper {
            position: relative;
          }

          .swiper-slide {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            &.swiper-slide-active {
              opacity: 1;
            }
          }
        }

        &.fix-img {
          flex: none;
          width: 30%;
          background-image: url(images/sec01-bg.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .app-inner {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 100%;
      justify-content: end;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      padding-bottom: 75px;

      .headline {
        h2 {
          font-size: clamp(2.5rem, 3vw, 4rem);
          line-height: clamp(38px, 3vw, 55px);
          font-weight: 700;
          color: #fff;
          margin-bottom: 20px;
        }

        span {
          display: block;
          color: #fff;
          font-size: clamp(1.4rem, 3vw, 1.7rem);
          line-height: clamp(25px, 3vw, 35px);
        }
      }

      .swiper-pagination {
        margin-top: 40px;
        margin-left: -4px;
      }
    }

    .pagination-inner {
      font-size: 2rem;
    }




    @include screen("mobile") {
      background-image: url(images/sec01-bg-mo.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 689px;
      overflow: inherit;


      .swiper {
        overflow: hidden;
        height: 264px;
        width: 100%;

        .swiper-slide {
          max-width: 264px;

          img {
            width: 100%;
          }
        }
      }

      .app-inner {
        padding-right: 0;
        position: static;
        padding-bottom: 0;

        .fix-copy {
          position: relative;
          top: 64px;
        }

        .headline {
          span {
            margin-top: -10px;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}