.#{$app-name} {
  .section4 {
    background-color: #FCF9F4;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 35px;


    .headline {
      margin-bottom: clamp(25px, 3vw, 30px);
    }

    .list-products {
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(16px, 3vw, 30px);

        .product-item {
          flex: none;
          width: calc(100% / 4 - 23px);

          a {
            display: block;
            width: 100%;
            height: 100%;

            .img {
              position: relative;
              background-color: #F8F1E5;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 40px;
              aspect-ratio: 1 / 1;

              img {
                width: 100%;
                transition: all .3s;
              }

              &:hover {
                img {
                  transform: scale(1.05);
                }
              }
            }

            .info {
              margin-top: clamp(16px, 3vw, 20px);

              .name {
                font-size: clamp(1.6rem, 3vw, 1.8rem);
                line-height: clamp(25px, 3vw, 28px);
                font-weight: 400;
              }

              .price {
                display: flex;
                gap: 6px;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 25px;
                margin-top: clamp(10px, 3vw, 12px);
                margin-bottom: clamp(10px, 3vw, 12px);

                b {
                  font-weight: 700;
                }
              }

              .tag {
                color: #555;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 25px;
              }
            }
          }

          &.close {
            * {
              color: #aaa;
            }

            a {
              pointer-events: none;
              cursor: default;

              .img {
                img {
                  opacity: 0.5;
                }

                &:after {
                  content: '종료';
                  color: #68635A;
                  background-color: #DED3C0;
                  text-align: center;
                  font-family: Pretendard;
                  font-size: clamp(1.4rem, 3vw, 2.1rem);
                  font-style: normal;
                  font-weight: 700;
                  line-height: clamp(50px, 6vw, 78px);
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  z-index: 2;
                }
              }
            }
          }
        }
      }
    }

    .caption {
      display: block;
      color: #555;
      font-size: clamp(1.4rem, 3vw, 1.6rem);
      font-weight: 400;
      line-height: 23px;
      margin-top: 25px;
      text-align: center;

    }

    @include screen("mobile") {


      .list-products {
        ul {
          margin-left: 4px;

          .product-item {
            width: calc(100% / 2 - 11px);


            a {

              .img {
                padding: 30px;
              }

            }


          }
        }
      }

    }
  }
}